form {
    width: 60%;
}

fieldset{
    display: flex;
    flex-direction: column ;
    gap: 48px;
}

body{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;

}