form {
    background-color: rgb(194, 194, 194);
    width: 60%;
}

fieldset{
    display: flex;
    flex-direction: column ;
    gap: 48px;
}

body{
    background-color: rgb(85, 85, 85) ;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;

}